body{
    font-family: Arial, sans-serif;
    align-content: center;
}
h1, h2, p{
    text-align: center;
    backdrop-filter: blur(10px) saturate(200%); 
}
.banner{

    background-image: url(../mi-portafolio/img/banner.jpeg);
    background-size: cover;
}